#goals{
  grid-area: goals;
  color: $color-principal;
  background-color: rgba($color: $color-principal, $alpha: 1);
  border-radius: $border-radius;
  margin: $scale-2;
  padding: $scale-2;

  display: grid;
  gap: 1rem;
  grid-auto-rows: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  height: auto;
  width: auto;
  box-shadow: $shadow;
}

.goal{
  background-color: rgba($color: $color-background, $alpha: 1);
  color: $color-principal;
  padding: $scale-5;
  margin: $scale-2;
  width: auto;
  height: auto;
  border-radius: $border-radius;
  display: flex;
  justify-items: center;
  align-items: center;

  
}