    .grid-layout{
    height: auto;
    display: grid;
    grid-template-areas: 'cabecera cabecera'
                          'menu menu'
                          'contenido lateral'
                          'footer footer';
    grid-template-rows: 10% 10% 60% 20%;
    grid-template-columns: 70% 30%;
    background-color: lightgreen;
    border: 1px solid black;
  }
  .caja{
    height: auto;
    border: 4px solid black;
    background-color: lightgray;
    margin: 15px;
    text-align: center;
    line-height: 150px;
    padding: 20px;
  }
  
  .c1{
    grid-area: cabecera;
    background-color: lightskyblue;
  }
  .c2{
    grid-area: menu;
    background-color: lightsalmon;
  }
  .c3{ 
    grid-area: contenido;
    background-color: lightgrey;
  
  }
  .c4{
    grid-area: lateral;
    background-color: lightsteelblue;
  }
  .c5{
    grid-area: footer;
    background-color: lightyellow;
  }