#presentation{
  grid-area: presentation;
  background-color: rgba($color: $color-principal, $alpha: 0.2);
  margin: $scale-2;
  padding: $scale-2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: $border-radius;
  height: fit-content;
  width: fit-content;
  
}

#resume{
  padding: $scale-2;
  }

#foto{
  border-radius: $scale-50;
  width: $scale-25;
  }
  

  button {
    height: 4em;
    width: 15em;
    border: none;
    border-radius: 40px;
    background-color: $color-principal;
  }
  
  button span {
    z-index: 1;
    display: inline-block;
    background-color: black;
    height: 3em;
    width: 11.5em;
    border-radius: 25px;
    color: #fff;
    line-height: 55px;
    font-size: 18px;
    letter-spacing: 3px;
    transition: all 0.5s;
  }
  
  button .container {
    z-index: -1;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    transition: all 0.4s;
  }
  
  button .container svg {
    padding: 0 10px;
  }
  
  button:hover span {
    width: 0;
  }
  
  button:hover .container {
    z-index: 2;
    width: 100%;
  }